.resolucion{
    width: 99%;
    text-align: center;
}

/**Movil**/
@media (max-width: 767){
    .destokp{display: none;}
    .tablet{display: none;}
}

/**Tablet**/
@media (min-width: 767)and (max-width: 990px){
    .destokp{display: none;}
    .movil{display: none;}
    
}

/**Escritorio**/
@media (min-width: 991){
    .tablet{
        display: none;
    }
    .movil{
        display: none;
    }
    
} 